.workDiv {
    /*display: grid;
    grid-template-columns: 4fr 1fr;*/
    text-align: center;
    grid-gap: 20px;
    margin: 20px;
    padding: 20px;
    background: linear-gradient(280deg, rgb(223, 223, 223), rgb(14, 24, 83) 80%);
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}

.workText {
    text-align: left;
    color: white;
    margin: 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
}


.workTitle {
    margin-bottom: 0px;
}

.company {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.workDesc {
    margin: 20px;
    padding: 20px;
    background-color: rgb(223, 223, 223);
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}